<!DOCTYPE html>
<html>
<head>
  <title>Autoflush</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<a href=<%=  @visit_inner %>>Visit_Inner</a>

<% @s_urls.each do |url| %>
<br>
<a href=<%= url %>><%= url %></a>
<% end %>

<%= yield %>

</body>
</html>
