<!DOCTYPE html>
<html>
<head>
  <title>Autoflush</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<a href="http://115.47.31.111:3000/visit2">Visi2</a>
<a href="http://115.47.31.111:3000/visit3">Visit3</a>
<p><%=  @v1 %></p>
<p><%=  @v2 %></p>
<p><%=  @v3 %></p>
<p><%=  @localhost %></p>

<%= yield %>

</body>
</html>
